<div class="jumbotron">
  <h1> Bine ai venit! </h1>
  <% if user_signed_in? %>
    <p class="lead">
    </p>
    <%= link_to "Delogare", destroy_user_session_path, :method => :delete, :class => 'btn btn-large btn-danger' %>
  <% else %>
    <p class="lead">
      Este necesara logarea pentru a putea continua
    </p>
    <div class="row">
      <div class="span6">
        <%= link_to "Autentificare", new_user_session_path, :class => "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
